<%= form_for(@datum) do |f| %>
  <% if @datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datum.errors.count, "error") %> prohibited this datum from being saved:</h2>

      <ul>
      <% @datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stl_url %><br>
    <%= f.text_field :stl_url %>
  </div>
  <div class="field">
    <%= f.label :gcode_url %><br>
    <%= f.text_field :gcode_url %>
  </div>
  <div class="field">
    <%= f.label :output_time %><br>
    <%= f.text_field :output_time %>
  </div>
  <div class="field">
    <%= f.label :finish_signal %><br>
    <%= f.check_box :finish_signal %>
  </div>
  <div class="field">
    <%= f.label :data_id %><br>
    <%= f.text_field :data_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
