<h1>Listing data</h1>

<table>
  <thead>
    <tr>
      <th>Stl url</th>
      <th>Gcode url</th>
      <th>Output time</th>
      <th>Finish signal</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |datum| %>
      <tr>
        <td><%= datum.stl_url %></td>
        <td><%= datum.gcode_url %></td>
        <td><%= datum.output_time %></td>
        <td><%= datum.finish_signal %></td>
        <td><%= datum.data_id %></td>
        <td><%= link_to 'Show', datum %></td>
        <td><%= link_to 'Edit', edit_datum_path(datum) %></td>
        <td><%= link_to 'Destroy', datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datum', new_datum_path %>
