<%= form_for @printer, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :material, :class => 'control-label' %>
    <%= f.text_field :material, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :machinemodel, :class => 'control-label' %>
    <%= f.text_field :machinemodel, :class => 'form-control' %>

  <div class="field">
    <%= f.label :material_color %><br>
    <%= f.text_field :material_color %>
  </div>
  <div class="field">
    <%= f.label :machinemodel %><br>
    <%= f.text_field :machinemodel %>

  </div>
  <div class="form-group">
    <%= f.label :sizex, :class => 'control-label' %>
    <%= f.text_field :sizex, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sizey, :class => 'control-label' %>
    <%= f.text_field :sizey, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sizez, :class => 'control-label' %>
    <%= f.text_field :sizez, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :resolution, :class => 'control-label' %>
    <%= f.text_field :resolution, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :location, :class => 'control-label' %>
    <%= f.text_area :location, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image_url, :class => 'control-label' %>
    <%= f.text_field :image_url, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :condition, :class => 'control-label' %>
    <%= f.check_box :condition, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <%= f.number_field :user_id, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :material_color, :class => 'control-label' %>
    <%= f.text_field :material_color, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                printers_path, :class => 'btn' %>
  </div>
<% end %>
