<%= form_for @printer do |f| %>

<% if @printer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@printer.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @printer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <table>
    <tr>
      <td>
        <%= check_box_tag "material_type[]", "ABS" %>ABS
      </td>
      <td>
        <%= check_box_tag "material_type[]", "PLA" %>PLA
      </td>
    </tr>
    <tr>
      <td>
        <%= check_box_tag "color_type[]", "red" %>red
      </td>
      <td>
        <%= check_box_tag "color_type[]", "blue" %>blue
      </td>
      <td>
        <%= check_box_tag "color_type[]", "yellow" %>yellow
      </td>
      <td>
        <%= check_box_tag "color_type[]", "green" %>green
      </td>
      <td>
        <%= check_box_tag "color_type[]", "black" %>black
      </td>
      <td>
        <%= check_box_tag "color_type[]", "white" %>white
      </td>
      <td>
        <%= check_box_tag "color_type[]", "orange" %>orange
      </td>
      <td>
        <%= check_box_tag "color_type[]", "transparent" %>transparent
      </td>
    </tr>
  </table>
  
  

  <div class="form-group">
    <%= f.label :location_name, :class => 'control-label' %>
    <%= f.text_field :description, :class => 'form-control' %>
  </div> 
  <div class="form-group">
    <%= f.label :address, :class => 'control-label' %>
    <%= f.text_field :address, :class => 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :machine_name, :class => 'control-label' %>
    <%= f.text_field :machinemodel, :class => 'form-control' %>
  </div> 
  
  <div class="form-group">
    <%= f.label :resolution, :class => 'control-label' %>
    <%= f.text_field :resolution, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image, :class => 'control-label' %>
    <%= f.file_field :image, accept: "image/*", :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :condition, :class => 'control-label' %>
    <%= f.check_box :condition, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <label class="control-label"></label>
    <%= f.submit nil, :class => 'create_printer_btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                printers_path, :class => 'btn' %>
  </div>
<% end %>
