<h1>Listing printers</h1>

<table>
  <thead>
    <tr>
      <th>Material</th>
      <th>Machinemodel</th>
      <th>Sizex</th>
      <th>Sizey</th>
      <th>Sizez</th>
      <th>Resolution</th>
      <th>Location</th>
      <th>Image url</th>
      <th>Condition</th>
      <th>User</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%= form_tag printers_path,  :method => 'get' do %>
        <p>
        <%= "素材を検索する" %>
        <%= text_field_tag :search,  params[:search] %>
        <%= submit_tag "Search", :material => nil %>
        </p>
    <% end %>
    <% @printers.each do |printer| %>
      <tr>
          <% if printer.user_id %>
        <td><%= printer.material %></td>
        <td><%= printer.machinemodel %></td>
        <td><%= printer.sizex %></td>
        <td><%= printer.sizey %></td>
        <td><%= printer.sizez %></td>
        <td><%= printer.resolution %></td>
        <td><%= printer.location %></td>
        <td><%= printer.image_url %></td>
        <td><%= printer.condition %></td>
        <td><%= printer.user_id %></td>
        <td><%= link_to 'このプリンターにする', printer %></td>
        <% if current_user %>
        <% if printer.user_id == current_user.id %>
        <td><%= link_to 'プリンター情報を修正する',  edit_printer_path(printer) %></td>
        <td><%= link_to '登録したプリンターを削除する',  printer,  method: :delete,  data: { confirm: 'Are you sure?' } %></td>
    <% end %>
<% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Printer', new_printer_path %>
